# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.tmp

# JetBrains / IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (Optional, you can uncomment if you want to include VS Code settings)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android related
# Ignore build artifacts
/android/app/debug
/android/app/.cxx
/android/app/profile
/android/app/release

# iOS related
ios/Flutter/.generated/

# macOS related
**/macos/Flutter/.generated/

# Web related
**/web/.dart_tool/

# Flutter build artifacts
*.dart_tool/

# Obfuscation related (if using obfuscation)
app.*.map.json

# Symbolication related (for debugging symbols)
app.*.symbols

# Environment files
.env

# Firebase related
google-services.json
GoogleService-Info.plist

# Secrets and API keys
*.key
*.pem

# Windows related
Thumbs.db
ehthumbs.db
Desktop.ini

# Operating system related
*.bak
*.swo

# IDE related (e.g., Visual Studio, Eclipse, etc.)
.vscode/

.firebase/